/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #4682B4;
  color: white;
}

h1 {
  font-family: verdana, arial, sans-serif; 
}

button{
  padding: 10px;
  border-radius: 5px;
}

#gameButtonArea > button {
  width:200px;
  height:200px;
  margin:2px;
}

.hidden{
  display: none;
}

#button1 {
    background: lightgreen url(https://cdn.glitch.com/cc97f5e7-6d0a-41d0-be75-fc2c2ca28606%2FUntitled%20Design.jpg?v=1616592479914);
}

#button1:active, #button1.lit {
    background:green;
}

#button2{
    background: lightblue url(https://cdn.glitch.com/cc97f5e7-6d0a-41d0-be75-fc2c2ca28606%2Fbtn.png?v=1616592739347);
}

#button2:active, #button2.lit {
    background:blue;
}

#button3 {
    background: pink url(https://cdn.glitch.com/cc97f5e7-6d0a-41d0-be75-fc2c2ca28606%2Fbtr.png?v=1616593015380);
}

#button3:active, #button3.lit{
    background:red;
}

#button4 {
    background: lightyellow url(https://cdn.glitch.com/cc97f5e7-6d0a-41d0-be75-fc2c2ca28606%2Fcrown.png?v=1616593130822);
}

#button4:active, #button4.lit {
    background:yellow;
}

#button5 {
    background: #FCC99D url(https://cdn.glitch.com/cc97f5e7-6d0a-41d0-be75-fc2c2ca28606%2Fbone.png?v=1616593294220);
}

#button5:active, #button5.lit {
    background:orange;
}

#button6 {
    background: #C6C3FF url(https://cdn.glitch.com/cc97f5e7-6d0a-41d0-be75-fc2c2ca28606%2Fbow.png?v=1616593399248);
}

#button6:active, #button6.lit {
    background:purple;
}